@font-face {
    font-family: 'robotoblack';
    src: url('roboto-black-webfont.woff2') format('woff2'),
        url('roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'robotoblack', sans-serif;
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 6fr / 1fr 5fr;
}

.nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.dashboard {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.top-nav {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.search-bar {
    width: 40rem;
    height: 2.2rem;
    border-radius: 20px;
    background-color: rgb(232, 232, 232);
    margin-right: 8vw;
}

.icon-top-nav {
    width: 2rem;
    height: 2rem;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.bottom-nav button {
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 20px;
    background-color: rgb(89, 158, 255);
    color: white;
}

.bottom-nav img {
    width: 4rem;
    height: 4rem;
}

.bottom-nav-text {
    margin-right: 22vw;
}
